<section>
  <div id="new-recipe">
    <a href="/new">
      <button type="button" class="button">Add New Recipe to Cookbook Sinatra</button>
    </a>
  </div>
</section>
<section id="import-recipe">
  <h2>Search Recipes in allrecipes.com</h2>
  <form action="/import" method="post" class="block">
    <input type="text" id="ingredient-input" name="ingredient" placeholder="Enter recipe ingredient" required>
    <input type="submit" value="Search" class="submit" hidden>
  </form>
</section>
<section id="recipes">
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="recipe-card <%= recipe.done? ? "green-card" : "grey-card" %>">
      <div class="recipe-name">
        <h2><%= recipe.name %></h2>
      </div>
      <div class="recipe-description">
        <p><%= recipe.description %></p>
      </div>
      <div class="recipe-rating">
        <p>Rating: <%= recipe.rating %> / 5<p>
      </div>
      <div class="recipe-prep-time">
        <p>Prep Time: <%= recipe.prep_time %><p>
      </div>
      <div class="mark-as-done">
        <form action="/mark_as_<%= recipe.done? ? 'undone' : 'done' %>" method="post">
          <input type="hidden" name="recipe_index" value="<%= index %>"> 
          <input class="recipe-button <%= recipe.done? ? 'grey-button' : 'green-button' %>" type="submit" value="Mark Recipe As <%= recipe.done? ? 'Undone' : 'Done' %>">
        </form>
      </div>
      <div class="delete-recipe">
        <form action="/destroy" method="post">
          <input type="hidden" name="recipe_index" value="<%= index %>"> 
          <input class="recipe-button red-button" type="submit" value="Delete Recipe">
        </form>
      </div>
    </div>
  <% end %>
</section>